#centre,
#right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#centre > div {
  font-size: larger;
}

.text-it {
  font-size: 1.2rem;
  margin-top: 12px;
  font-weight: 700;
}

.small-font {
  font-size: 40%;
  color: red;
  font-weight: 900;
}

body {
  min-height: 100vh;
  background-repeat: no-repeat;
  font-family: Gotham Narrow SSm A, Gotham Narrow SSm B, Rubik, Lato, sans-serif;
  color: #fff;
}

.default {
  background-image: url(../images/default.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clearsky {
  background-image: url(../images/clearsky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.clearskynight {
  background-image: url(../images/clearskynight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fewcloud {
  background-image: url(../images/fewcloud.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fewcloudnight {
  background-image: url(../images/fewcloudsnight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mist {
  background-image: url(../images/mist.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mistnight {
  background-image: url(../images/mistnight.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nightrain {
  background-image: url(../images/nightrain.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nightsnow {
  background-image: url(../images/nightsnow.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nightthunderstorm {
  background-image: url(../images/nightthunderstom.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.rain {
  background-image: url(../images/rain.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scatteredcloud {
  background-image: url(../images/scatteredcloud.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.scatterednight {
  background-image: url(../images/scatterenight.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.snow {
  background-image: url(../images/snow.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.thunderstorm {
  background-image: url(../images/thunderstorm.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: xxx-large;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.h1 {
  font-weight: 900;
}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid red;
  border-bottom: 16px solid red;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
